*{
    font-family: "Roboto", "Times New Roman", "Segoe UI", sans-serif;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
}

.box{
    width: 100%;
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    background-image: url("./Fate-wallpaper.jpg");
    position: relative;
}

.header{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 72px;
    background: rgb(122, 62, 62);
}

.header-logo{
    width: 50%;
    height: 100%;
    font-size: 24px;
    color: #F9FAF8;
}

.header-logo p{
    font-weight: 600;
    padding-left: 100px;
}

.links{
    padding-left: 75px;
    display: flex;
    gap: 20px;
}

.links a{
    font-size: 18px;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 20;
}

.text{
    max-width: 40%;
    height: 40%;
    background: rgba(5, 5, 5, 0.6);
    border: 3px solid rgb(226, 163, 47);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 10px 15px;
}

.text h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    opacity: 1;
}

.text p{
    flex: 1;
    font-size: 22px;
    opacity: 1;
}

.text .signup-button{
    width: 20%;
    height: 15%;
    margin: 0px 15px 15px 15px;
    flex-grow: 0;
    border-radius: 8px;
    background: rgb(187, 50, 50);
    color: white;
    font-weight: 600;
    border: 2px solid rgb(0, 0, 0);
    flex-shrink: 0;
}

.centered-image{
    width: 40%;
    height: auto;
    max-height: 40%;
    height: auto;
    display: block;
}

.box2{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.cardtext{
    display: block;
    text-align: center;
    flex-grow: 0;
    color: white;
}

.card-container{
    height: 60%;
    background: linear-gradient(rgb(240, 126, 20), black);
    display: flex;
    flex-direction: column;
}

.cards{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 25px;
}

.card{
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card-content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    align-items: center; 
}

.card-content .card-image{
    max-height: 100%;
    max-width: 100%;
}

.card-text{
    text-align: center;
    height: 30%;
    padding: 0px 35px;
    font-size: 22px;
    color: white;
    font-weight: 600;
    overflow: hidden;
}

.quote-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-content{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.quote{
    flex-wrap: wrap;
    max-width: 100%;
    font-weight: light;
    word-wrap: break-word;
    font-size: 36px;
    color: #1F2937;
}

.quote-author{
    flex-wrap: wrap;
    max-width: 55%;
    font-weight: 700;
    font-size: 18px;
    word-wrap: break-word;
    align-self: flex-end;
}

.signup{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-text{
    width: 70%;
    height: 80%;
    background-color: pink;
}

.footer{
    justify-content: center;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: blue;
}